<div class="fake-root">
  <h1>A heading</h1>
  <h2>A sub-heading</h2>

  <p>Some text in a long paragraph, long enough to wrap to the next line and a little more to make sure it wraps to the next line.</p>
</div>

<style>
.fake-root {
  font-size: 100%;
}
.fake-root h1 {
  font-size: 2em;
}
.fake-root h2 {
  font-size: 1.5em;
}

@media (min-width: 960px) {
  .fake-root {
    font-size: 150%;
  }
}
</style>
