<div class="fake-root">
  <h1>Heading there</h1>
  <p>Notice how the size of the font depends on the viewport width with minimum size of 1rem.</p>
</div>

<style>
.fake-root {
  font-size: calc(1rem + 0.5vw);
}
.fake-root h1 {
  font-size: calc(1.5rem + 1vw);
}
</style>
