<div class="wrapper">
  <div class="dialog">
    <button class="close" title="Close">
      <iconify-icon icon="material-symbols:close" />
    </button>
    <div>Are you sure you want to include a dialog in your pattern library?</div>
    <div class="actions">
      <button class="primary">Okay</button>
      <button>Cancel</button>
    </div>
  </div>
</div>

<style>
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.dialog {
  position: relative;
  background: black;
  padding: 3em 1em 1em;
  border: 2px solid #fff;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 2rem;
}


.dialog button {
  background: #000;
  border: 2px solid #fff;
  border-radius: 0px;
  color: white;
  font-size: 1em;
  padding: 0.25em 0.5em;
}

.dialog button.primary {
  background: white;
  color: black;
}

.actions {
  display: flex;
  gap: 0.5em;
  align-self: flex-end;
}

.dialog button.close {
  background: none;
  border: 2px solid #fff;
  color: white;
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.25em;
  display: flex;
  align-items: center;
}
</style>
