---
import Layout from '../../layouts/Layout.astro';
import { getFolders, readFileAsString } from '../../lib/files';
import { Code } from 'astro:components';

export const getStaticPaths = (async () => {
  const folders = await getFolders('src/primitives');
  const paths = folders.map((folder) => ({
    params: { slug: 'primitives/' + folder },
  }));
  return paths;
});

const { slug } = Astro.params;

const filesAll = await Astro.glob('../../primitives/**/*.astro');
const files = filesAll.filter((file) => file.file.includes(slug ?? ''));

const fileContents = await Promise.all(files.map(async (file) => {
  const contents = await readFileAsString(file.file);
  return contents;
}));
---

<Layout title={slug ?? 'Chapter'}>
  {files.map((item, index) => (
    <>
    <div class="split-show">
      <div class="split-preview">
        <item.default />
      </div>
      <div class="split-code">
        <Code code={fileContents[index]} lang="astro" />
      </div>
    </div>
    {index !== files.length - 1 && <hr />}
    </>
  ))} 
</Layout>

<style>
  .split-show {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
  }
  .split-preview {
    max-width: 80ch;
    width: 100%;
  }

  .split-code {
    width: 60ch;
    max-width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    max-height: 40rem;
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .split-code pre {
    background-color: #181818 !important;
    border: 1px solid #ffffff10;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    filter: saturate(0);
  }
</style>
