---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Every Layout Playground">
	<main>
		<h1>Every Layout Playground</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
	}
</style>
