---
import Layout from '../layouts/Layout.astro';
import { readFileAsString } from '../lib/files';

const readFile = async (file:string) => {
  const contents = await readFileAsString(file);
  return contents;
}


const files = await Astro.glob('../primitives/**/*.astro');
const filesClone = [...files];
// console.log(files);

const filteredFiles = filesClone.filter((file) => {
  // filter chapters with 01- prefix only
  return file.file.includes('01-');
});

const getChapter = (file: string) => {
  // file /home/xypnox/Projects/learn/every-layout-playground/src/primitives/box/01-index.astro
  // chapter primitives/box
  const chapter= file.split('/').slice(-3, -1).join('/');
  return chapter;
}

---

<Layout title="Every Layout Playground">
  <main>
    <h1>Every Layout Playground</h1>
    <div class="chapters">
      {filteredFiles.map((item, index) => (
        <a class="chapter" href={`/chapters/${getChapter(item.file)}`}>
          <h2>{getChapter(item.file)}</h2>
          <div class="preview">
            <item.default />
          </div>
        </a>
      ))} 
    </div>
  </main>
</Layout>

<style>
  h1 {
    font-size: 4rem;
  }
  .chapters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 100%;
    gap: 1rem;
  }
  @media (max-width: 600px) {
    .chapters {
      grid-template-columns: 1fr;
    }
  }
  .chapter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    height: 100%;
    flex-wrap: wrap;
    text-decoration: none;
    width: 100%;
    border: 1px solid #333;
    padding: 1rem;
  }

  .chapter:hover {
    background-color: #111;
  }

  .chapter h2 {
    text-decoration: underline;
  }

  .preview {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
