---
import Layout from '../layouts/Layout.astro';
import { readFileAsString } from '../lib/files';
import { Code } from 'astro:components';

const readFile = async (file:string) => {
  const contents = await readFileAsString(file);
  return contents;
}


const files = await Astro.glob('../primitives/**/*.astro');
// console.log(files);

const files2 = await Promise.all(files.map(async (file) => {
  const contents = await readFile(file.file);
  return contents;
}));

---

<Layout title="Every Layout Playground">
	<main>
    <div class="content">
      <h1>Every Layout Playground</h1>
      {files.map((item, index) => (
        <>
        <div class="split-show">
          <div class="split-preview">
            <item.default />
          </div>
          <div class="split-code">
            <Code code={files2[index]} lang="astro" />
          </div>
        </div>
        {index !== files.length - 1 && <hr />}
        </>
      ))} 
    </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
	}

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-inline: auto;
    max-width: 100%;
    align-items: center;
  }

  .split-show {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
  }
  .split-preview {
    max-width: 80ch;
    width: 100%;
  }

  .split-code {
    width: 60ch;
    max-width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    max-height: 40rem;
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .split-code pre {
    background-color: #666;
    border: 1px solid #ffffff10;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
  }
</style>
