---
import Layout from '../layouts/Layout.astro';
import { readFileAsString } from '../lib/files';

const readFile = async (file:string) => {
  const contents = await readFileAsString(file);
  return contents;
}


const files = await Astro.glob('../primitives/**/*.astro');
const filesClone = [...files];
// console.log(files);

const filteredFiles = filesClone.filter((file) => {
  // filter chapters with 01- prefix only
  return file.file.includes('01-');
});

const files2 = await Promise.all(filteredFiles.map(async (file) => {
  const contents = await readFile(file.file);
  return contents;
}));

const getChapter = (file: string) => {
  // file /home/xypnox/Projects/learn/every-layout-playground/src/primitives/box/01-index.astro
  // chapter primitives/box
  const chapter= file.split('/').slice(-3, -1).join('/');
  // remove .astro
  return chapter;
}

---

<Layout title="Every Layout Playground">
  <main>
    <h1>Every Layout Playground</h1>
    {filteredFiles.map((item, index) => (
      <>
      <a class="chapter" href={`/chapters/${getChapter(item.file)}`}>
        <h2>{getChapter(item.file)}</h2>
        <item.default />
      </a>
      {index !== files.length - 1 && <hr />}
      </>
    ))} 
  </main>
</Layout>

<style>
  h1 {
    font-size: 4rem;
  }
  .chapter {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: none;
  }

  .chapter h2 {
    text-decoration: underline;
  }
</style>
