The default styles of the browser. (Chrome)

<p>This is a paragraph.</p>

<style>
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
</style>

<hr />

<ul>
  <li>This is a list.</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<style>
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
</style>
