---
import { getFolders } from '../lib/files';
import { capitalize } from '../lib/strings';

const pathname = new URL(Astro.request.url).pathname;

const folders = await getFolders('src/primitives');
const paths = folders.map((folder) => ({
   slug: 'primitives/' + folder,
    folder: folder,
}));

const isActive = (path: string) => pathname.includes(path);
---

<nav>
  <div class="innerWrapper">
    <a href="/"
      class={pathname === '/' ? 'active' : ''}
    >Every Layout Playground</a>
    <div class="links">
      {paths.map((path) => (
        <a href={`/chapters/${path.slug}`}
          class={isActive(path.slug) ? 'active' : ''}
        >{capitalize(path.folder)}</a>
      ))}
    </div>
  </div>
</nav>

<style>
nav {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #666;
  z-index: 10;
  background: #000;
  width: 100%;
}

.innerWrapper {
  display: flex;
  align-items: center;
  width: var(--page-width);
  max-width: 100%;
  padding: 0.5rem;
  margin-inline: auto;
  gap: 2rem;
  height: 3rem;
}

.links {
  display: flex;
  gap: 1rem;
}

@media (max-width: 600px) {
  nav {
    justify-content: space-between;
  }

  .links a {
    display: none;
  }
  .links a.active {
    display: block;
  }
}

a.active {
  background: #222;
}
</style>
