---
import { humanizeHeading } from '../lib/strings';
interface Props {
  headings: string[]
}

const {headings} = Astro.props;

// heading will be of the form NN-WWW-WWW
// where NN are two digits and rest are - separated words
// We want to convert it to a human readable form
// Remove the numbers and replace - with space, then capitalize each word
---

<div class="page-nav">
  <div class="innerWrapper">
    {headings.map(heading => (
      <a href={`#${heading}`}>{humanizeHeading(heading)}</a>
    ))}
  </div>
</div>

<style>
.page-nav {
  z-index: 9;
  position: sticky;
  top: calc(3rem + 1px);
  width: 100%;
  height: 100%;
  background-color: #000;
  border-bottom: 1px solid #333;
}

.innerWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  width: var(--page-width);
  max-width: 100%;
  padding: 0.5rem;
  margin-inline: auto;
}

.page-nav a {
  color: #999;
  text-decoration-color: #333;
}

.page-nav a:hover {
  color: #fff;
  text-decoration-color: #fff;
}

@media (max-width: 768px) {
  .page-nav {
    top: 0;
    position: relative;
  }
}
</style>



